*{
	box-sizing: border-box;
}

#calc {
		background-color: #696969;
		height: 400px;
		width: 350px;
		display: flex;
		flex-wrap: wrap;
}



button {
	padding: 18px 36px;
	text-align: center;
	font-size: 15px;
	margin-bottom: 2px;
}

#plus{
	padding: 18px 35px;
}

#equal{
	float: right;
}
#zero{
	vertical-align: center;
}



