.navbar{
	background: #f2f2f2;
}

.btn{
	border-radius: 1.5;
}

.sidebar{
	background: #f2f2f2;
	border-radius: 1.5em;
	padding: 10px;
}


.col-9{
	background: #f2f2f2;
	padding: 10px;
	border-radius: 1.5em;
}
